.contenedor-cabecera{
      display: flex;
      align-items: center;
      justify-content: center;
}

.cabecera{
      width: 70%;
      display: grid;
      grid-template-columns: repeat(10,1fr);
      grid-auto-flow: row;
}

.contenedor-moneda{
      display: flex;
      flex-direction: column;
}

