<div class="contenedor-get-started">
      <section class="get-started">
            <div class="contenedor-get-started-info">
                  <div class="get-started-info">
                        <h1>Hola</h1>
                        <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime quis iusto sint esse dignissimos, laboriosam obcaecati aliquam, maiores nemo expedita, incidunt voluptate animi illum autem accusantium officia vel? Quod, rerum.000</p>
                        <a routerLink="/login"><button type="button" class="btn btn-primary">Comenzar</button></a>
                  </div>
            </div>
            <div class="get-started-imagen">
                  <img src="https://images.ctfassets.net/c5bd0wqjc7v0/1DrLQBxqDE4XmGXcmaGy7u/8acbd0322803e3190154169b028e9d20/freeMoney-1.5.webp" alt="">
            </div>
      </section>
</div>
